<footer class="footer-section" id="footer">
  <div class="container">
      <!--  -->
     
        <div class="footer-options">

          <div>
            <h2 class="m-heading">BookIT</h1>
            <p>We are a company working towards making a remark in the online ticket booking industry</p>
          </div>
            <ul class="list-1 py-3">
              <li>Who are we</li>
              <li>What we do</li>
              <li>Our values</li>
              <li>Leadership</li>
              <li>Our major Projects</li>
              <li>About our brand</li>
            </ul>
        
        <ul class="list-1 py-2">
          <li>Connect us on</li>
          <li><a href="#"><i class="bottom-img fab fa-twitter"></i> Twitter</a></li>
          <li><a href="#"><i class="bottom-img fab fa-facebook"></i> Facebook</a></li>
          <li><a href="#"><i class="bottom-img fab fa-instagram"></i>  Instagram</a></li>
          <li><a href="mailto:prashant67690@gmail.com"><i class="bottom-img fas fa-envelope"></i> Mail</a></li>
        </ul>
        <ul class="list-1 py-3">
         <li>Site information</li>
         <li>Terms and conditions</li>
         <li>Fraud and Scam alert</li>
         <li>Global help line </li>
        </ul>

      </div>

      <p class="copyright">&copy BookIT INC.</p>
  </div>

</footer>
</body>
</html>
